.titleBar{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  &__status{

  }
  &__wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &-title{
      font-size: 30px;
      color: #333333;
    }
  }
}
